body {
    font-family: 'Poppins', sans-serif;
    background: rgb(226, 223, 223);
}

a:link {
    text-decoration: none;

}

a {
    color: black;
}

#items-found-container {
    box-shadow: 5px;
    height: 70px;
    background-color: white;
}

#item-mouse-style {
    cursor: pointer;
}

#item-mouse-style:hover {
    color: blue;

}

@media only screen and (max-width: 576px) {
    .portal-container {
        padding-left: 50px;

    }

    .total-view {
        display: none;
    }
}